@media screen and (max-width: 1160px) {
    .container {
        width: 100%;
        max-width: 1140px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

}

@media screen and (max-width: 576px) {

    .steps {
        margin-bottom: 0;
    }

    .why-us {
        background-color: black;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 0;
    }

    .container {
        max-width: 100%;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }

    .col {
        padding: 0;
    }

    .row .col {
        width: 100%;
    }

}