@media screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

    .container {
        max-width: 575px;
    }

}

@media screen and (max-width: 576px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
    }

    .steps {
        margin-bottom: 0;
    }

    .why-us {
        background-color: black;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 0;
    }

    .container {
        max-width: 300px;
        margin: 0 auto;
        padding: 0;
    }

    .row {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .col {
        padding: 0;
    }

    .lessons .col {
        width: 100%;
    }

    .steps .col {
        width: 100%;
    }
    
    .why-us .col {
        width: 100%;
    }

    img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .col-left {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }


}